
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/design.css') }}">
	<title>{{ book.Title }} - {{ bookauthor }}</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
$(document).ready(
    function()
    {
	function last_msg_funtion()
	{
            var ID=$(".comic_image_box:last").attr("id");
            $('div#last_image_loader').html('<img src="{{ asset('bundles/reader/images/loader.gif') }}" alt="Loading...">');
            $.post("{{ asset('app_dev.php/nextpage/' ~ book.id) }}/"+ID,
                function(data)
                {
                    if (data != "")
                    {
                        $(".comic_image_box:last").after(data);
                    }
                
                    $('div#last_image_loader').empty();
                });
	};
	    
	$(window).scroll(
	    function()
	    {
		if ($(window).scrollTop() >= $(document).height() - $(window).height() - 200)
		{
		    last_msg_funtion();
		}
	    });
    });
        </script>
    </head>
    <body>
      <div id="main">
	
		<div id="banner"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" />

		<nav><ul>
			<li ><a class="lien" href="{{ path('ComicReader_accueil') }}">Accueil</a></li>
			<li class="active"><a class="lien" href="{{ path('ComicReader_liste') }}">Liste</a></li>
			<li ><a class="lien" href="{{ path('ComicReader_ajout') }}"><p style="margin-top: -2px">Ajouter</p></a></li></ul></nav>
			<div id="rech">
				<div style="margin-top: 7px;">
				    <form method="POST" action="{{ asset('search_redirect.php') }} ">
				      <input name="search" value="" size="20" maxlength="255" onFocus="this.value=''" />
				      <input type="submit" value="Chercher" />
				    </form>
				</div>
			</div>
		
	</div></div><div id="livreglob">

	<div id="retour"><a href="javascript:history.go(-1)">Retourner a la liste des livres</a></div>

	  <div class="livre">
    	    <div class="livreImage" style="background: url('{{ asset('bundles/books/' ~ thumbnail) }}') no-repeat top center;"></div>
	    <div class="livreinfos"> 
	      <div class="livreNote">
{% for star in stars %}
		<img src="{{ asset('bundles/reader/images/' ~ star ~ '.png') }}" alt="*" />
{% else %}
		<em>No mark</em>
{% endfor %}
	      </div>
	      <div class="livreNom">{{ book.Title }}</div>
	      <div class="livreAuteur"><u>Draw by</u> : <a href="{{ asset('app_dev.php/author/' ~ book.FK_Author) }}">{{ bookauthor }}</a></div>
	      <div class="livrePseudo"><u>Uploaded by</u> : {{ uploader }}</div>
	      <div class="livreDesc">{{ book.Description}}</div>
	    </div>
	  </div>
	  
	  
<!-- Comments -->
{% for c in comments %}
	<div class="a_comment">
	    <h4>{{ c.Name }}</h4>
	    <div class="a_comment_mark">
		{{ c.Mark }}
	    </div>
	    <p>
		{{ c.Comment }}
	    </p>
{% else %}
	    <em>No comment. Be the first to post one ?</em>
{% endfor %}
	</div>
	<div>
		<form action="{{ asset('app_dev.php/addComent') }}" method="post" enctype="multipart/form-data">
			{{ form_widget(form) }}

			<input type="submit" />
		</form>
	</div>
	  
	  <!-- Start reading ... -->
{% for page in pages %}
	    <div id="{{ page.id }}" class="comic_image_box" >
		<img src="{{ asset('bundles/books/' ~ page.path) }}" alt="" />
	    </div>
{% endfor %}

	    <div id="last_image_loader"></div>
	</div>
    </body>
</html>
