<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/index.css') }}">
	<title>Reacherche - {{ searchvalue }}</title>
    </head>
    <body>
  <img src="{{ asset('bundles/comicreaderdesign/images/fond.jpg') }}" style="position:fixed; left: 0px; top:0px; z-index:-1;width: 100%;"/>
  <div id="main">

		<div id="banner"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" />

		<nav><ul>
			<li ><a class="lien" href="{{ path('ComicReader_accueil') }}">Accueil</a></li>
			<li class="active"><a class="lien" href="{{ path('ComicReader_liste') }}">Liste</a></li>
			<li ><a class="lien" href="{{ path('ComicReader_ajout') }}"><p style="margin-top: -2px">Ajouter</p></a></li></ul></nav>
			<div id="rech">
				<div style="margin-top: 7px;">
				    <form method="POST" action="{{ asset('search_redirect.php') }} ">
				      <input name="search" value="" size="20" maxlength="255" onFocus="this.value=''" />
				      <input type="submit" value="Chercher" />
				    </form>
				</div>
			</div>
		
	</div></div><div id="livreglob">
	    <h2>Recherche : "{{ searchvalue }}"</h2>
	    
<!-- Authors -->
	    <h4>Auteurs</h4>
{% for author in authors %}
	    <div class="search_item" >
		<h5><a href="{{ asset('app_dev.php/author/' ~ author.id) }}">{{ author.name }}</a></h5>
	    </div>
{% else %}
	    <em>Aucun auteur correspondant</em>
{% endfor %}

<!-- Books -->
	    <h4>Livres</h4>
{% for fjb in books %}
	  <div style="border: 1px solid black; margin-bottom: 5px; margin-left: 50px; margin-right: 50px; height: 170px;">
	    <a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >
		<img style="width:100px; float:left; margin: 10px;" src="{{ asset('bundles/books/' ~ fjb.book.ServerPath ~ '1.png') }}" alt=""/>
	    </a>
	    <div class="livreinfos" style="margin-left: 120px; margin-right: 10px;"> 
	      <div style="float: right; margin-top: -10px;">
{% for star in fjb.stars %}
		<img src="{{ asset('bundles/reader/images/' ~ star ~ '.png') }}" alt="*" />
{% else %}
		<em></em>
{% endfor %}
	      </div>
	      <h3 style="text-align: left;"><a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >{{ fjb.book.Title }}</a></h3>
	      <div style="text-align: left;"><a href="{{ asset('app_dev.php/author/' ~ fjb.book.FK_Author) }}"><em>{{ fjb.author.Name }}</em></a></div>
	      <div style="text-align: left; margin-top: 10px;"><a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >{{ fjb.book.Description}}</a></div>
	    </div>
	  </div>
{% else %}
	<em>Aucun livre correspondant</em>
{% endfor %}
    </body>
</html>    
