<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/design.css') }}">
	<title>Search - {{ searchvalue }}</title>
    </head>
    <body>
      <div id="main">
	<div id="ban"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" /></div>

	<div id="accueil">Accueil</div>
	<div id="liste">Liste</div>
	<div id="ajouter">Ajouter</div>
	<div id="search">
	    <form method="POST" action="{{ asset('search_redirect.php') }} ">
	      <input name="search" value="" size="22" maxlength="255" onFocus="this.value=''" />
	      <input type="submit" value="Search" />
	    </form>
	</div>
	<div class="clear"></div>
	    <h2>Search for {{ searchvalue }}</h2>
	    
<!-- Authors -->
	    <h4>Authors</h4>
{% for author in authors %}
	    <div class="search_item" >
		<h5><a href="{{ asset('app_dev.php/author/' ~ author.id) }}">{{ author.name }}</a></h5>
	    </div>
{% else %}
	    <em>No authors found</em>
{% endfor %}

<!-- Books -->
	    <h4>Books</h4>
{% for fjb in books %}
	  <div class="livre">
	    <a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >
    	    <div class="livreImage" style="background: url('{{ asset('bundles/books/' ~ fjb.book.ServerPath ~ '01.png') }}') no-repeat top center;"></div>
	    </a>
	    <div class="livreinfos"> 
	      <div class="livreNote">
{% for star in fjb.stars %}
		<img src="{{ asset('bundles/reader/images/' ~ star ~ '.png') }}" alt="*" />
{% else %}
		<em>No mark</em>
{% endfor %}
	      </div>
	      <div class="livreNom"><a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >{{ fjb.book.Title }}</a></div>
	      <div class="livreAuteur"><u>Draw by</u> : {{ fjb.author.Name }}</div>
	      <div class="livrePseudo"><u>Uploaded by</u> : {{ fjb.Uploader.Login}}</div>
	      <div class="livreDesc"><a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >{{ fjb.book.Description}}</a></div>
	    </div>
	  </div>
{% else %}
	<em>No result</em>
{% endfor %}
    </body>
</html>    