<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/design.css') }}">
	<title>Search - {{ searchvalue }}</title>
    </head>
    <body>
      <div id="main">
	<div id="ban"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" /></div>

	<div id="accueil">Accueil</div>
	<div id="liste">Liste</div>
	<div id="ajouter">Ajouter</div>
	<div id="search">
	    <form method="POST" action="{{ asset('search_redirect.php') }} ">
	      <input name="search" value="" size="22" maxlength="255" onFocus="this.value=''" />
	      <input type="submit" value="Search" />
	    </form>
	</div>
	<div class="clear"></div>
	    <div class="book_list">
		<h2>Title</h2>
	    {% for book in titlebooks %}
		<div class="book_item" >
		    <h5>{{ book.title }}</h5>
		    <a href={{ asset('app_dev.php/reader/' ~ book.id) }} >Read this book</a>
		</div>
	    {% else %}
		<em>No books found</em>
	    {% endfor %}
		<h2>Author</h2>
	    {% for author in authorbooks %}
		<div class="book_item" >
		    <h5><a href="{{ asset('app_dev.php/author/' ~ author.id) }}">{{ author.name }}</a></h5>
		</div>
	    {% else %}
		<em>No books found</em>
	    {% endfor %}
		<h2>Description</h2>
	    {% for book in descriptionbooks %}
		<div class="book_item" >
		    <h5>{{ book.title }}</h5>
		    <a href={{ asset('app_dev.php/reader/' ~ book.id) }} >Read this book</a>
		</div>
	    {% else %}
		<em>No books found</em>
	    {% endfor %}
	    </div>
	</div>
    </body>
</html>    