<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/ajout.css') }}">
<title>Bienvenue sur ComicReader</title>
</head>
<body>
  <img src="{{ asset('bundles/comicreaderdesign/images/fond.jpg') }}" style="position:fixed; left: 0px; top:0px; z-index:-1;width: 100%;"/>
  <div id="main">
	<div id="ban"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" /></div>

	<div id="accueil"><a class="link" href="{{ path('ComicReader_accueil') }}">Accueil</a></div>
	<div id="liste"><a class="link" href="{{ path('ComicReader_liste') }}">Liste</a></div>
	<div id="ajouter"><a class="link" href="{{ path('ComicReader_ajout') }}">Ajouter</a></div>
	<div id="recherche">
	  <input value="Rechercher" size="22" maxlength="255" onFocus="this.value=''"/>
          </input>
          <button type="button" onclick="">Rechercher</button> 
	</div>
	<div class="clear"></div>

	<div id="contenu">
	</div>
  </div>
</body>
</html>

