<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/index.css') }}">
<title>Bienvenue sur ComicReader</title>
</head>
<body>
  <img src="{{ asset('bundles/comicreaderdesign/images/fond.jpg') }}" style="position:fixed; left: 0px; top:0px; z-index:-1;width: 100%;"/>
  <div id="main">

	<div id="banner"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" />

		<nav><ul>
			<li class="active"><a class="lien" href="{{ path('ComicReader_accueil') }}">Accueil</a></li>
			<li><a class="lien" href="{{ path('ComicReader_liste') }}">Liste</a></li>
			<li><a class="lien" href="{{ path('ComicReader_ajout') }}"><p style="margin-top: -2px">Ajouter</p></a></li></ul></nav>
			<div id="rech">
				<div style="margin-top: 7px;">
				    <form method="POST" action="{{ asset('search_redirect.php') }} ">
				      <input name="search" value="" size="20" maxlength="255" onFocus="this.value=''" />
				      <input type="submit" value="Chercher" />
				    </form>
				</div>
			</div>
		
	</div></div>


	<div id="contenu">

	  <div class="hasard">
	    <h4>Au hasard</h4>
{% for random in randombooks %}
	    <h4  style="text-align:left; padding-left : 15px">{{ random.book.Title }}</h4>
	    <h5 style="text-align:left; padding-left : 15px"><i>{{ random.Author.Name }}</i></h5>
	    <p style="text-align:left; padding-left : 20px; font-size:12px; width : 400px">
	      {{ random.Book.Description }}
	    </p>
	    <p style="float: right; margin-top: -200px; margin-right: 30px;">
		<img style="width:130px; " src="{{ asset('bundles/books/' ~ random.book.ServerPath ~ '1.png') }}" alt="image"/>
	    </p>
{% else %}
	    <p><em>No book</em></p>
{% endfor %}
	  </div>

	  <div class="top"><h4>Le top 3</h4>
{% for b in topbooks %}
	    <div style="width : 200px;height: 150px; float:left;">
	      <p>
		<img style="height: 100px; " src="{{ asset('bundles/books/' ~ b.book.ServerPath ~ '1.png') }}" alt="image"/>
		<br/>
		{{ b.Book.Title }} ({{ b.Mark }})
	      </p>
	    </div>
{% else %}
	    <p><em>No book</em></p>
{% endfor %}
	  </div>

	  <div class="sortie"><h4 style="padding:20px">Dernieres sorties</h4>
{% for b in lastbooks %}
		<div style="width: 300px;height:120px; margin:auto; margin-top:5px;">
		  <p style="float:left; margin-top: -164px; margin-left: 20px;">
		    <img style="height: 120px; " src="{{ asset('bundles/books/' ~ b.book.ServerPath ~ '1.png') }}" alt="image"/>
		  </p>
		  {{ b.Book.Title }}
		</div>
{% else %}
	    <p><em>No book</em></p>
{% endfor %}
	  </div>


	  <div id="news">
		<p style="text-align : center"><b>ComicReader</b><br/><br/>

		Ce site a été mis en place pour regrouper toute une communauté de fans autour<br/> de l'ensemble des supports BD, Mangas, Comics et livres.<br/>
		Il est prêt à accueillir la plus méconnue des histoires pour la faire partager au monde entier.<br/>
		Si vous possédez une oeuvre que vous souhaitez partager avec nous, n'hésitez pas à nous le proposer <br/>en uploadant l'ensemble de ses pages sur le site sous format zip ! Sinon, vous pouvez profiter<br/> de l'ensemble des oeuvres déjà présentes sur le site que vous pourrez dérouler en quelques coups de molette !<br/>

		L'ensemble de l'équipe vous souhaite une agréable lecture !<br/>
		~Antoine Fournier, Thibaud Friedrich, Benjamin Levoir, Vincent Oliveira~
		</p>
	  </div>
      </div>
</body>
</html>

