<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/comicreaderdesign/css/index.css') }}">
<title>Bienvenue sur ComicReader</title>
</head>
<body>
  <img src="{{ asset('bundles/comicreaderdesign/images/fond.jpg') }}" style="position:fixed; left: 0px; top:0px; z-index:-1;width: 100%;"/>
  <div id="main">

	<div id="ban"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" /></div>

	<div id="accueil"><a class="lien" href="{{ path('ComicReader_accueil') }}">Accueil</a></div>
	<div id="liste"><a class="lien" href="{{ path('ComicReader_liste') }}">Liste</a></div>
	<div id="ajouter"><a class="lien" href="{{ path('ComicReader_ajout') }}">Ajouter</a></div>
	<div id="recherche">
	    <form method="POST" action="{{ asset('search_redirect.php') }} ">
	      <input name="search" value="" size="22" maxlength="255" onFocus="this.value=''" />
	      <input type="submit" value="Search" />
	    </form>
	</div>
	<div class="clear"></div>


	<div id="contenu">
	  <div class="hasard">
	    <div class="hasardTitre">Au hasard</div>
	      <div class="randomName"><a href={{ asset('app_dev.php/reader/' ~ random.book.id) }} >{{ random.book.Title }}</a></div>
	      <div class="randomMark">
{% for star in random.stars %}
		<img src="{{ asset('bundles/reader/images/' ~ star ~ '.png') }}" alt="*" />
{% else %}
		<em>No mark</em>
{% endfor %}
	      </div>
	      <a href={{ asset('app_dev.php/reader/' ~ random.book.id) }} >
		<div class="randomThumbnail" style="background: url('{{ asset('bundles/books/' ~ random.book.ServerPath ~ '1.png') }}') no-repeat top center;"></div>
	      </a>
	      <div class="randomAuthor"><a href="{{ asset('app_dev.php/author/' ~ random.book.FK_Author) }}">{{ random.author.Name }}</a></div>
	      <div class="randomUploader">{{ random.uploader.Login }}</div>
	      <div class="randomDescription">{{ random.book.Description }}</div>
	  </div>
	  
	  <div class="hasard">
	    <div class="hasardTitre">On recherche</div>
	    <div class="top5Numero"><p style="padding-left:20px;">- Naruto chapitre 568</p></div>
	    <div class="top5Numero"><p style="padding-left:20px;">- X-Men : L'intégrale 1975-1976</p></div>
	    <div class="top5Numero"><p style="padding-left:20px;">- Death note chapitre 74</p></div>
	    <div class="top5Numero"><p style="padding-left:20px;">- Les légendaires tome 5</p></div>
	    <div class="top5Numero"><p style="padding-left:20px;">- Garfield tome 51</p></div>
	  </div>
	  <div class="hasard">
	    <div class="hasardTitre">TOP 5</div>
{% for fjb in topbooks %}
	    <div class="top5Numero">
	      <p style="padding-left:20px;">
		<a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >
		   - {{ fjb.book.Title }} ({{ fjb.Mark }})
		</a>
	      </p>
	    </div>
{% endfor %}
	  </div>
	  
	  <div class="sortie">
	    <div class="hasardTitre">Les dernieres sorties</div>
{% for fjb in lastbooks %}
	    <div class="sortiePremier">
	      <a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >
		<div class="sortiePremierImage" style="background: url('{{ asset('bundles/books/' ~ fjb.book.ServerPath ~ '1.png') }}') no-repeat top center;"></div>
	      </a>
	      <div class="sortiePremierNom"><a href={{ asset('app_dev.php/reader/' ~ fjb.book.id) }} >{{ fjb.book.Title }}</a></div>
	      <div class="sortiePremierNote">
{% for star in fjb.stars %}
		<img src="{{ asset('bundles/reader/images/' ~ star ~ '.png') }}" alt="*" />
{% else %}
		<em>No mark</em>
{% endfor %}
	      </div>
	      <div class="sortiePremierAuteur"><a href="{{ asset('app_dev.php/author/' ~ fjb.book.FK_Author) }}">{{ fjb.author.Name }}</a></div>
	      <div class="sortiePremierPseudo">{{ fjb.uploader.Login }}</div>
	    </div>
{% endfor %}
	  </div>
	  <div class="clear"></div>
	</div>
	  <div id="news">
	    <div id="newsTitre">Dernieres News</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	    <div id="newsContenu">23-03-2012 : Ouverture du site Web !</div>
	  </div>
  </div>
</body>
</html>

