<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>Menu de l'interface d'administration</title>
	</head>
	<style>
		a {outline: 0;}
		a img {border: 0px; text-decoration: none;}
		a:link, a:visited {
			color: black;
			padding: 0 1px;
			text-decoration: none;
		}
		a:hover, a:active {
			background-color: #3366DD;
			color: #fff;
			text-decoration: none;
			text-shadow: 1px 1px 1px #333;
		}
	</style>
	<body style="
		background: #000;
		margin:0 auto; 
		padding:0; 
		text-align: left;
		
		">

<div id="header" style="
	width : 840px;
	height: 150px;
	background: #fff;
	margin : auto;
	">
	logo
</div>

<div style="
	background: #fff;
	margin-left : auto;
	margin-right : auto;
	margin-top : 50px;
	overflow: hidden;
	padding: 20px;
	width: 800px;
	text-align : center
 	left:50%
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	">
<h4 style="padding:10px">Ajouter un utilisateur</h4>

<form action="{{ path('comicreader_admin_admin_addu') }}" method="post" enctype="multipart/form-data">

			{{ form_errors(form) }}

	<div style="margin-left:50px; margin-top:50px;">
	{{ form_label(form.login, "Identifiant") }}
	{{ form_errors(form.login) }}
	<span style="margin-left:50px;">{{ form_widget(form.login) }}</span>
	</div>
	<br/>
	<div style="margin-left:50px;">
	{{ form_label(form.password, "Mot de passe") }}
	{{ form_errors(form.password) }}
	<span style="margin-left:27px;">{{ form_widget(form.password) }}</span>
	</div><br/>
	<div style="margin-left:50px;">
	{{ form_label(form.admin, "Administrateur") }}
	{{ form_errors(form.admin) }}
	<span style="margin-left:6px;">{{ form_widget(form.admin) }}</span>
	</div>	
	<div style="margin-left:50px;">
	{{ form_label(form.modo, "Modérateur") }}
	{{ form_errors(form.modo) }}
	<span style="margin-left:31px;">{{ form_widget(form.modo) }}</span>
	</div>

    <p style="margin-left : 190px"><input  type="submit" Value="&nbsp;Ajouter&nbsp;"/></p>
</form>


<br/><br/><br/>
</div>
<div id="footer" style="
	background: #fff;
	margin: 0 auto 0 auto;
	margin-top : 50px;
	overflow: hidden;
	padding: 20px;
	width: 800px;
	text-align : center;

	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;

	">
	<p style="text-align:center">
		<a  href="{{ path('comicreader_admin_admin_menu') }}"><b>Retour au menu</b></a><br/><br/>
		<a  href="{{ asset('app_dev.php/deco') }}"><b>Deconnexion</b></a>
	</p>
</div>
</body>
</html>
