Bonjour {{name}}, vous voici dans le menu d'administration en tant que {{stat}} <br/>
Vous avez accès aux options suivantes :<br/>

<-- --><br/>
<br/>
Panneau de modération <a href="{{ path('comicreader_admin_admin_valid') }}">-image-</a><br/>

Panneau d'administration des livres <a href="{{ path('comicreader_admin_admin_book') }}">-image-</a><br/>

Panneau d'administration des utilisateurs <a href="{{ path('comicreader_admin_admin_user') }}">-image-</a><br/>
<br/>
<-- --><br/>

<a href="{{ asset('app_dev.php/deco') }}">Deco</a>
